.ui-datepicker-header{
	color: black;
}
.error{ 
    color: red; 
}
.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    /*top:10px;*/
    background:green;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    margin-left: 1px;
    margin-top: 1px;
}
.notify-badge2{
    position: absolute;
    /*top:10px;*/
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    float: right;
    margin-left: 1px;
    margin-top: 1px;
}
.img-thumbnail {
    height: 160px;
}
.delIcon .glyphicon-remove-sign { position: absolute; top: -7px !important; right: 0; }