@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?560uyo');
  src:  url('fonts/icomoon.eot?560uyo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?560uyo') format('truetype'),
    url('fonts/icomoon.woff?560uyo') format('woff'),
    url('fonts/icomoon.svg?560uyo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-single-bed-1:before {
  content: "\e900";
}
.icon-bed:before {
  content: "\e901";
}
.icon-bathtub:before {
  content: "\e902";
}
.icon-hotel:before {
  content: "\e903";
}
.icon-users:before {
  content: "\e904";
}
